@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,400;1,500&display=swap');

*,::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
a:hover{
    color: rgb(71, 6, 236);
} 
@media (min-width:280px) and (max-width : 800px){
    .container{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    .image-img{
        display: none;
    }
    .title{
        width: 100%;
        height: 60px;
        box-shadow: 0.01em 0.01em 0.1em rgba(0,0,0,0.2);
        text-align: center;
    }
    .title h3{
        padding: 0.3em 0;
        font-size: 1.8em;
        color: rgb(71, 6, 236);
        font-weight: 500;
    }
     .right{
        float: right;
     }
    .menu{
        position: absolute;
        top: 1.4%;
        right: 5%;
         
    }
    .menu span{
        display: block;
        background-color: #000;
        width: 30px;
        height: 3px;
        margin: 0.4em 0;
        cursor: pointer;
    }
    .navigation{
        width: 100%;
        height: 100vh;
        display: none;
         bottom: 0;
         
    }
    .navigation ul{
        display: block;
        list-style-type: none;

    }
    .navigation ul li{
        padding: 1.4em 2em;
    }
    .navigation ul li a{
        text-decoration: none;
        font-size: 1.2em;
        color: #000;
    }
    .nav-button{
        display: block;
        text-align: center;
        margin: 1em 0.1em;
    }
    .nav-button .one{
        padding: 1.75em 10.1em;
        border: none;
        background-color: rgb(71, 6, 236);
        color: #fff;
        border-radius: 5px;
        margin-bottom: 0.8em;
        display: block;
        margin-left: 1.5em;
    }
    .nav-button .two{
        padding: 1.5em 11em;
        border: 1px solid rgb(71, 6, 236);
        color: rgb(71, 6, 236);
        background-color: #fff;
    }
  .sub{
        display: none;
        background-color: aliceblue;
    }
    .sub li{
        padding: 0 1em;
    }
    .close{
        position: absolute;
        top: 2.2%;
        right: 5%;
        display: none;
    }
    .close span{
        font-size: 1.2em;
        font-weight: 800;
    }
    main{
        margin-bottom: -15em;
    }
    .main-header{
        margin: 3em 0;
        text-align: center;
    }
    .main-header h3{
        font-size: 2em;
    }
    .button{
        margin: 1em 0;
    }
    .button button{
        border: none;
        background-color: rgb(71, 6, 236);
        color: #fff;
        border-radius: 5px;
        padding: 1em 7em;
    }
    .image{
        width: 100%;
        height: 70px;
        margin: 6em 0;
    }
    .image img{
        width: 100%;
        object-fit: contain;
    }
    .image h3{
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom: 1em;
    }
    .info{
        margin: 22em 0 ;
        position: relative;
        text-align: center;
    }
    .col-1 h3{
        font-size: 1.5em;
        font-weight: 400;
        
    }
    .icon{
        margin: 1em 0;
    }
    .icon p{
         font-style: italic;
        font-size: 1em;
        margin: 1.3em 0;
    }
    .col-2{
        margin: 4em 0;
    }
    .col-2 h3{
        font-size: 1.5em ;
        font-weight: 400;
    }
    .col-3{
        margin: 4em 0;
    }
    .col-3 h3{
        font-size: 1.5em;
        font-weight: 400;
    }
    .icon img{
        width: 50px;
        margin: 1.4em 0.5em;
    }
    .col-4{
        margin: 6em 0;
    }
    .col-4 h3{
        font-size: 2em;
    }
    .col-4 .icon{
       margin: 2em 0;
    }
    .col-4 p{
        font-weight: 500;
        font-size: 1.2em;
    }
    .footer{
         position: relative;
         
         
        width: 100%;
        background-color: whitesmoke;
    }
    .footer h3{
        color: rgb(71, 6, 236);
        font-size: 1.5em;
        padding: 1em;
    }
    .list{
        padding: 0 1.9em;
    }
    .list h4{
        font-size: 1em;
        font-weight: 500;
    }
    .list ul{
        list-style-type: none;
        display: block;
    }
    .list ul li a{
        margin: 0.5em 0;
        text-decoration: none;
        color: #000;
        font-weight: 300;
    }
    .social-icons ul{
        display: flex;
        margin: 1em ;
        list-style-type: none;
    }
    .social-icons ul li a{
        margin: 0 0.5em;
        text-decoration: none;
    }
    .billboard{
        width: 100%;
        height: 500px;
        background-color: azure;
    }
    .bill-title{
        padding: 1em;
        text-align: center;
    }
    .image-image{
        width: 300px;
        float: right;
        margin-top: 1em;
       margin-right: 2em;
    }
    .image-image img{
        width: 100%;
        object-fit: contain;
    }
}
@media (min-width :450px){
    .info{
        margin: 40em 0;
    }
}
  
@media (min-width:801px) and (max-width:12000px) {
    .container{
        width: 100vw;
    }
    .header{
        width: 100%;
        height: 60px;
        box-shadow:  0.01em 0.01em 0.1em rgba(0,0,0,0.2);
        display: flex;
        position: fixed;
         
        background-color: #fff;
    }
    .menu{
        display: none;

    }
    .close{
        display: none;
    }
    .title h3{
        font-size: 2em;
        padding: 0.3em 3.5em;
        color: rgb(71, 6, 236);
        cursor: pointer;
    }
    .navigation ul{
        display: flex;
        list-style-type: none;
        margin: 1.3em 0;
    }
    .nav-button{
          position: relative;
          top: -3.4em;
          right: -42em;
    }
    .navigation ul li a{
        margin: 0 1em;
        text-decoration: none;
        color: #000;
    }
    .nav-button .one{
        border:none;
        border-radius: 5px;
        padding: 0.8em 3em;
        color: #fff;
        background-color: rgb(71, 6, 236);
        cursor: pointer;
    }
    .nav-button .two{
        background-color: transparent;
        color: #000;
        border: none;
        margin: 0 0.5em;
        font-size: 1em;
        cursor: pointer;
    }
    main{
        padding: 16em 4em;
        margin-bottom: -45em;
    }
    .main-header h3{
        font-size: 2.7em;
    }
    .button button{
        cursor: pointer;
        padding: 1em 5em;
        border: none;
        border-radius: 5px;
        color:#fff;
        background-color: rgb(71, 6, 236);
        margin: 3em 0;
    }
    .image-img{
        float: right;
        margin-top: -20em;
    }
    .image-img img{
        width: 610px;
         
    }
    .image{
        margin: 15em 0;
        width: 100%;
    }
    .image h3{
        font-size: 2em;
         
    }
    .image img{
        margin: 2em 0; 
       width:400px;
        object-fit: contain;
    }
    .icon img{
        width: 50px;
        margin: 0.5em;
    }
      .info{
        margin-top: -40.5em;
        margin-left: 45em;
      }
      .col-4{
        text-align: center;
        margin-top: 10em;
        margin-left: -50em;
        
      }
      .col-4 h3{
        font-size: 3em;
      }
      .col-4 .main-icon{
        display: flex;
        margin: 5em 25em;
      }
      .col-4 .main-icon .icon{
        margin: 0 2em;
      }
      .footer{
        background-color: whitesmoke;
        width: 100%;
         
      }
      .footer h3{
        font-size: 2em;
        color: rgb(71, 6, 236);
        padding: 1em 2em;
      }
      .main-list{
        display: flex;
        margin: 1em 5em;
      }
      .list{
        margin: 0 7em;
      }
      .list h4{
        font-weight: 500;
        font-size: 1em;
      }
      .list ul {
        list-style-type: none;
        display: block;
      }
      .list ul li a{
        text-decoration: none;
        color: #000;
        font-weight: 300;
      }
      .social-icons{
        margin: 0 6em;
      }
      .social-icons ul{
        list-style-type: none;
        display: flex;
      }
      .social-icons ul li a{
        text-decoration: none;
      }
      .social-icons ul li a box-icon:hover{
        color: rgb(71, 6, 236);
      }
      .billboard{
        width: 100%;
        height: 500px;
        background-color: azure;
      }
      .bill-title h1{
        padding: 2em;
        color: #000;
        font-size: 3em;
      }
      .bill-title p{
        margin-top: -5em;
        padding: 0 6em;
      }
      .bill-title .button{
        margin: 0 6em;
      }
      .image-image{
        width: 550px;
        float: right;
        margin-right: 5em;
        margin-top: -23em;
      }
      .image-image img{
        width: 100%;
        object-fit: contain;
      }
    }
@media (min-width:801px) and  (max-width : 930px){
    .main-header h3{
        font-size: 1.5em;
    }
    .image-img img{
       width: 400px;
    }
    .image-img{
        margin-top: -17em;
        margin-right: -3em;
        float: right;
    }
    .header .title h3{
        padding: 0.7em 0.3em ;
        font-size: 1.4em;
    }
    .navigation ul {
        margin-left: 0;
    }
    .navigation ul li a{
        font-size: 0.8em;
    }
    .nav-button{
        margin-left: -11.3em;
        margin-top: 1em;
    }
    .nav-button .one{
        padding: 0.5em 1em;
    }
    .nav-button button{
        margin: 0.5em 0;
        font-size: 0.8em;
    }
    .col-1, .col-2, .col-3{
        margin-left:-21em ;
    }
    .col-4 h3 {
        text-align: center;
        margin-left: 2em;
    }
    .col-4 p{
        margin-left: 6em;
    }
   .col-4 .main-icon  {
       margin: 5em 16em;
        display: flex;
    } 
    .col-4 .main-icon .icon{
        display: block;
    }
    .col-4 .main-icon .icon p{
        margin-left: -0.1em;
    }
    .bill-title h1{
        font-size: 1.9em;
    }
    .bill-title p{
        margin-top: -2.9em;
        margin-left: -2.1em;
    }
    .bill-title .button{
        margin-left: 3.9em;
    }
    .image-image{
        width: 300px;
        float: right;
        margin-top: -15em;
        margin-left: -10em; 
    }
    .billboard{
        width: 100%;
    }
    .main-list{
        margin-left: -3em;
    }
    .social-icons{
        margin-left: 1em;
    }
    .bill-title{
        margin: 0.5em;
    }
    .main-header{
        margin-left: -1.5em;
    }
}    
@media (min-width : 820px) and (max-width:1149px){
    .title h3{
        font-size: 2em;
        padding: 0.3em 3.5em;
    }
}
@media (min-width : 900px) and (max-width : 1000px){
    .nav-button{
        margin-left: -6.3em;
        margin-top: 1em;
    }
    .nav-button .one{
        padding: 0.5em 1em;
    }
    .nav-button button{
        margin: 0.5em 0;
        font-size: 0.8em;
    }
    .col-1, .col-2, .col-3{
        margin-left:-18em ;
    }
    .col-4 .main-icon  {
        margin: 5em 17.5em;
         display: flex;
     } 
}              