@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,400;1,500&display=swap');

*,::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.container{
    width: 100%;
}
.header .username{
    margin: 2em 0;
     
     
}
.username p{
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 1em;
    margin-left: 1em;

}
.username img{
    width: 50px;
    height: 55px;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    right: 3%;
}
.balance{
    text-align: center;
    padding: 3em 0;
}
.bal-balance p{
    font-size: 1em;
    font-weight: 400;
}
.bal-balance h3{
    font-size: 3em;
}
.bal-actions ul{
   list-style-type: none;
   display: flex;
   margin: 3em  4.2em;
   text-align: center;
}
.bal-actions ul li a{
   margin: 0 1em;
   background-color: #000;
   padding: 1em 1em 0 1em;
   border-radius: 30px;
}
main{
    margin-top: -1.5em;
    margin-left: 1.5em;
}
.assets-row{
    display: block;
    margin: 2em 0;
}
.assets-col{
    display: flex;
    margin: 1em 0;
    position: relative;
}
.asset-price{
    position: absolute;
    top: 0;
    right: 4%;
}
.asset-image{
  margin-left: -0.6em;
}
.asset-name{
    margin-left: 0.3em;
}
.asset-price p{
    color: rgb(31, 176, 31);
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0.02em 0.02em 0.2em rgba(0,0,0,0.2);
    width: 100%;
    height: 70px;
}
.menu ul{
    display: flex;
    margin: 1.2em;
    list-style-type: none;
}
.menu ul li a{
    margin-left: 4em;
}
@media (width : 375px){
    .bal-actions ul{
        margin-left: 2.7em;
    }
}
@media (width:280px){
    .username img{
        right: -10%;
    }
    .bal-balance{
        margin-left: 3em;
    }
    .bal-actions ul{
        margin-left: 1em;
    }
    .asset-price{
        right: -2%;
    }
    .menu ul li a{
        margin-left: 2.5em;
    }
}
@media (width:360px){
    .bal-actions ul{
        margin-left: 2.3em;
    }
    .menu ul li a{
        margin-left:3.5em;
    }
}
@media (min-width:800px) and (max-width:1200000px){
    .username p{
        position: absolute;
        top: 2%;
        right: 10%;
    }
    .balance{
        text-align: left;
        margin-left: 10em;
    }
    .bal-balance h3{
        font-size: 4em;
    }
    .bal-actions ul{
        margin-left: -1em;
    }
    .footer{
        width: 5%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .menu ul{
        display: block;
        margin-top: 13em;
        margin-left: -3em;
    }
    .menu ul li {
      margin:5em 0 ;
    }
    main{
        margin-left: 10em;
    }
    
}
@media (min-width:800px) and (max-width:1200px){
    .footer{
        width: 8%;
    }
}