<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css /edit-profile.css">
    <title>Edit profile</title>
</head>
<body>
    <div class="container">
        <!--header-->
        <div class="main-header">
        <h3 class="pro">Profile</h3>
            <div class="profile-image">
                <img src="../images/michael-dam-mEZ3PoFGs_k-unsplash.jpg" alt="">
            </div>
            <div class="profile-name">
                <h3>Owusu Nelson</h3>
                <p>nowusu90876</p>
            </div>
            <div class="profile-edit">
                <a href="edit-profile.html"><button>Change profile image</button></a>
            </div>
          </div>
          <div class="edit">
            <h3>Edit Profile</h3>
            <div class="form-container">
                <form action="">
                    <label for="username">Name</label>
                    <input type="text" name="" id="" placeholder="Owusu Nelson">
                    <label for="email">Email</label>
                    <input type="email" name="" id="" placeholder="nowusu@gmail.com">
                    <label for="password">Password</label>
                    <input type="password" name="" id="">
                    <button type="submit">Done</button>
                </form>
            </div>
          </div>
    </div>
</body>
</html>