<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css /style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Crypto Crib</title>
</head>
<body>
    <div class="container">
        <!--header-->
        <div class="header">
            <div class="title">
                <h3>cryptocrib</h3>

            </div>
            <div class="navigation" id="navigation">
                <ul>
                    <li><a href="">Market</a>
                    
                    </li>
                    <li><a href="">Buy / Sell</a>
                         
                    </li>
                    
                    <li><a href="">USSD</a></li>
                     
                   
                    
                    <li><a href="">FAQ</a></li>
                    
                </ul>
                <div class="nav-button">
                    <a href="signup.html" ><button class="one">Get started</button></a> 
                <a href="login.html"><button class="two">Sign in</button></a>
                </div>
                
            </div>
             
            <div class="menu" id="menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="close" id="close">
                <span>X</span>
            </div>
        </div>
        <!--main-->
        <main>
            <div class="main-header">
                <h3>Spend your crypto<br>
                right from your momo wallet</h3>
                <p>App designed for all your needs<br>to help you manage your <br>spendings and reinvest money</p>
                <div class="button">
                    <a href="signup.html"><button>Get started</button></a>
                </div>
                <div class="image-img">
                     <img src="../images/undraw_bitcoin_re_urgq.svg" alt="">
                </div>
                <div class="image">
                    <h3>Simple, Secure and fast</h3>
                    <img src="../images/one.webp" alt="">
                </div>
               
            </div>
            <div class="info">
                <div class="col-1">
                    <h3>Effortless transactions</h3>
                    <div class="icon">
                        <box-icon name='wallet' size="lg" color="white"></box-icon>
                        <box-icon name='credit-card' size="lg" color="white"></box-icon> 
                        
                        <p>"cryptocrib gives it's users an ability to make easy  <br>andfast transactions without any stress"</p>
                    </div>
                </div>
                <div class="col-2">
                    <h3>Wide network</h3>
                    <div class="icon">
                        <box-icon name='bitcoin' type='logo'size='lg'color="white" ></box-icon>
                        <box-icon name='coin' size="lg"color="white" ></box-icon>
                        <p>"allowing a wide network of crypto to be transacted,<br>cryptocrib gives users more freedom with crypto"</p>
                    </div>
                </div>
                <div class="col-3">
                    <h3>Momo integration</h3>
                    <div class="icon">
                        <box-icon name='wallet' size="lg" color="white"></box-icon>
                        <box-icon name='devices' type='solid'size='lg'color="white" ></box-icon>
                        <p>"No long processes just link crypto to momo wallet<br> and start trading and spending" </p>
                        <div class="icon-image">
                            <img src="../images/vodafone-icon.svg" alt="">
                            <img src="../images/mtn-group.svg" alt="">
                            <img src="../images/bharti-airtel-limited.svg" alt="">
                        </div>
                        
                    </div>
                </div>
                <div class="col-4">
                    <h3>Setup your account<br>in a few minutes</h3>
                    <p class="p">Hey, it only takes one minute</p>
                    <div class="main-icon">
                        <div class="icon">
                        <box-icon name='user-circle' size="lg" color="#000" ></box-icon>
                        <p>Create an account</p>
                    </div>
                    <div class="icon">
                        <box-icon name='bank' type='solid' size="lg" color="#000" ></box-icon>
                        <p>Link your momo wallet</p>
                    </div>
                    <div class="icon">
                        <box-icon name='money' size="lg" color="#000" ></box-icon>
                        <p>Start spending</p>
                    </div>
                    </div>
                    
                </div>
            </div>
            
             
        </main>
        <div class="billboard">
                <div class="bill-title">
                    <h1>Your crypto live <br>just got easier</h1>
                    <p>App designed for all your needs<br>to help you manage your <br>spendings and reinvest money</p>
                    <div class="button">
                        <a href="signup.html"><button>Get started</button></a>
                    </div>
                    <div class="image-image">
                         <img src="../images/undraw_digital_currency_qpak.svg" alt="">
                        </div> 
                </div>
        </div>
        <!--footer-->
        <div class="footer">
            <h3>cryptocrib</h3>
            <div class="main-list">
               <div class="list">
                <h4>Company</h4>
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Buy / Sell</a></li>
                    <li><a href="">USSD</a></li>
                </ul>
            </div>
           
           
            </div>
            
            <div class="social-icons">
                <ul>
                    <li><a href=""><box-icon type='logo' name='linkedin' size="lg" color="#000"></box-icon></a></li>
                    <li><a href=""><box-icon name='instagram' type='logo' size="lg" color="#000"></box-icon></a></li>
                    <li><a href=""><box-icon name='twitter' type='logo' size="lg"color="#000" ></box-icon></a></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        const menu = document.getElementById('menu');
        const nav = document.getElementById('navigation');
        const closeButton = document.getElementById('close');
        const right = document.getElementById('right');
        const sub = document.getElementById('sub');

        menu.addEventListener('click',(e) =>{
            
            nav.style.display = 'block';
            menu.style.display = 'none';
            closeButton.style.display = 'block';    
        })
        closeButton.addEventListener('click',(e) =>{
            nav.style.display = 'none';
            menu.style.display = 'block';
            closeButton.style.display = 'none';
        })
        right.addEventListener('click',() =>{
            sub.style.display = 'block';
        })
        let
    </script>
     <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

</body>
</html>