<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css /settings.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>settings</title>
</head>
<body >
    <div class="container">
      <!--header-->
      <div class="back">
       <a href="user_model.html"><box-icon name='arrow-back' size="md" class="b"></box-icon></a> 
      </div>
      <div class="main-header">
        <div class="profile-image">
            <img src="../images/michael-dam-mEZ3PoFGs_k-unsplash.jpg" alt="">
        </div>
        <div class="profile-name">
            <h3>Owusu Nelson</h3>
            <p>nowusu90876</p>
        </div>
        <div class="profile-edit">
            <a href="edit-profile.html"><button>Edit profile</button></a>
        </div>
      </div>
      <!--preferences-->
      <div class="preference">
        <div class="pre-title">
            <h4>preferences</h4>
            <div class="pre-col">
                <div class="col">
                    <h4>Language</h4>
                    <select name="" id="">
                        <option value="English">English</option>
                        <option value="French">French</option>
                    </select>
                    <div class="dark">
                        <h4>Dark mode</h4>
                        <button class="dark-mode" id="dark-mode">dark</button>
                    </div>

             </div>
            </div>
            <div class="pre-col">
                <div class="col-2">
                    <a href="index.html"><h4>Logout</h4></a>
                </div>
            </div>
        </div>
      </div>
    </div>
    <script src="../js/dark.js"></script>
     <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

</body>
</html>